<nav class="navbar_custom">
  <a class="navbar-brand" href="/"><img class="ProductLogo" style="box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); height: 50px; width: auto;" src="/images/BChat_logo.png" alt="BChat-logo"></a>
  <% if (!isAuthenticated) { %>
    <a href="/login"  class="user_login">Sign In</a>
  <% } else { %>
    <a href="/profile/<%=user.UserID%>" class="user_login_display"><%= user.UserNickName %></a>
  <% } %>
  

  <div class="dropdown">
    <button class="dropbtn">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      
    </button>
    <div class="dropdown-content">
      <a href="/reminders">Reminder List</a>
      <a href="/reminder/new">Create</a>
      <a href="/post/new">New Post</a>
    </div>
  </div>
</nav>
