<div class="container">
    <h1 class="mt-4">Admin Dashboard</h1>
    <p class="lead mb-3">Welcome <%= user.UserName %></p>
    <% for (const sessionID in sessions) { %>
        <div>
            <p>SessionID: <%= sessionID %></p>
            <p>UserID: <%= sessions[sessionID] %></p>
            <a href="/admin/revoke/<%= sessionID %>">Revoke Session</a>
        </div>
    <% } %>
</div>