<div class="main d-flex flex-row bg-light">
    <div class="d-flex flex-column bd-highlight mb-3 side">
        <div class="bg-secondary center" style="height: 7%;">
            Messages
        </div>
        <div class="bg-white" style="flex-grow: 1;">
        </div>
    </div>
    <div class="d-flex justify-content-center  "style="flex-grow: 1;">
        <div class="d-flex flex-column side2">
            <div class="bg-secondary center" style="height: 7%; width: 100%;"> Student Feed
            </div>
            <div class="bg-white" style="flex-grow: 1;">
            </div>
        </div>
    </div> 
</div>